<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" th:href="${icon}">
    <title>Print Queue</title>
    <link rel="stylesheet" href="/bulma/bulma.min.css">
    <script defer src="/fontawesome/all.js"></script>
    <script src="/jquery/jquery.min.js"></script>
</head>
<body>
<nav class="navbar has-shadow" role="navigation" aria-label="main navigation" style="margin-bottom: 20px">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <p class="title" th:text="${title}"></p>
            </div>
        </div>

        <div class="navbar-start">
            <a class="navbar-item" href="/admin/queue">
                Print Queue
            </a>
            <a class="navbar-item" href="/admin/user">
                Manage User
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/logout">
                        <strong>Logout</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="tile is-ancestor is-vertical">
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <p class="title">In Queue</p>
                <div class="content">
                    <table class="table is-hoverable">
                        <thead>
                        <tr>
                            <th>Created</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>File</th>
                            <th>Status</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="row : ${rows}"
                            th:classappend="${row.status.name() == 'WAITING'} ? is-selected : ''">
                            <td th:text="${row.getCreatedAtDateFormat()}"></td>
                            <td th:text="${row.user.username}"></td>
                            <td th:text="${row.user.name}"></td>
                            <td>
                                <a th:href="'/print/download/' + ${row.gridFsName}"
                                   th:text="${row.filename}">
                                </a>
                            </td>
                            <td>
                                <div class="select is-rounded is-small">
                                    <form id="status-form" onchange="updateStatus(this)">
                                        <input type="hidden" th:value="${row.id}">
                                        <select th:name="*{row}">
                                            <option th:each="status : ${statuses}"
                                                    th:value="${status}"
                                                    th:text="${status}"
                                                    th:selected="${row.status == status}">
                                            </option>
                                        </select>
                                    </form>

                                    <script type="text/javascript">
                                        function updateStatus(form) {
                                            var jobId = form.elements[0].value;
                                            var status = form.elements[1].value;
                                            $.ajax({
                                                type: "POST",
                                                url: "/api/admin/job/update",
                                                data: {
                                                    "jobId": jobId,
                                                    "status": status
                                                },
                                                error: notifyUpdateStatusError,
                                                success: refreshPage
                                            });
                                        }

                                        function notifyUpdateStatusError() {
                                            alert("Failed to Update Status");
                                        }

                                        function refreshPage() {
                                            location.reload();
                                        }
                                    </script>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </div>
</div>
</body>
</html>