<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Print Queue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar has-shadow" role="navigation" aria-label="main navigation" style="margin-bottom: 20px">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
            <span>
                <p class="title">Phrinta</p>
            </span>
                <span class="icon is-large has-text-primary">
                  <i class="fas fa-2x fa-copy"></i>
                </span>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/logout">
                        <strong>Logout</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="tile is-ancestor is-vertical">
        <!--<div class="tile is-parent">-->
        <!--<article class="tile is-child notification is-info">-->
        <!--<p class="title">Print Request</p>-->
        <!--<div class="content">-->
        <!--<form id="print-form" method="post" action="/print/request" enctype="multipart/form-data"-->
        <!--onsubmit="disableSubmit()">-->
        <!--<div class="file has-name is-fullwidth" style="margin-bottom: 10px">-->
        <!--<label class="file-label">-->
        <!--<input class="file-input" type="file" name="file" required-->
        <!--onchange="showFileName(this.value)">-->
        <!--<span class="file-cta">-->
        <!--<span class="file-icon"><i class="fas fa-upload"></i></span>-->
        <!--<span class="file-label">Choose a file…</span>-->
        <!--</span>-->
        <!--<span id="filename" class="file-name"></span>-->

        <!--&lt;!&ndash; Update File Name &ndash;&gt;-->
        <!--<script type="text/javascript">-->
        <!--var filenameContainer = document.getElementById("filename");-->

        <!--function showFileName(name) {-->
        <!--filenameContainer.textContent = name;-->
        <!--}-->
        <!--</script>-->

        <!--</label>-->
        <!--</div>-->
        <!--<button id="submit-print-btn" type="submit" class="button is-light">Submit</button>-->
        <!--</form>-->

        <!--&lt;!&ndash; Form Submission &ndash;&gt;-->
        <!--<script type="text/javascript">-->
        <!--var submitPrintBtn = document.getElementById("submit-print-btn");-->

        <!--function disableSubmit() {-->
        <!--submitPrintBtn.disabled = true;-->
        <!--}-->
        <!--</script>-->

        <!--</div>-->
        <!--</article>-->
        <!--</div>-->
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <p class="title">In Queue</p>
                <div class="content">
                    <table class="table is-hoverable">
                        <thead>
                        <tr>
                            <th>Created At</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>File</th>
                            <th>Status</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="row : ${rows}">
                            <td th:text="${row.getCreatedAtDateFormat()}"></td>
                            <td th:text="${row.user.username}"></td>
                            <td th:text="${row.user.name}"></td>
                            <td>
                                <a th:href="'/print/download/' + ${row.gridFsName}"
                                   th:text="${row.filename}">
                                </a>
                            </td>
                            <td th:text="${row.status}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </div>
</div>
</body>
</html>